*.o
*.a
*.so

bin/
obj/
lib/
*.tar.xz
*.tar.xz
*.tar
*.iso
*.tar.xz
*.tar
*.iso
linux-6.17.6.tar.xz
*.tar
*.tar.*
*.zip
linux-6.17.6.tar.xz
*.tar
*.tar.*
*.zip
linux-6.17.6.tar.xz
*.tar
*.tar.*
*.zip
